<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.smxy.associationmanagement.mapper.ActivityMapper">
    <resultMap id = "BaseResultMap" type = "edu.smxy.associationmanagement.domain.Activity">
        <id column = "id" property = "id" jdbcType = "INTEGER"/>
        <result column = "activity_name" property = "activityName" jdbcType = "VARCHAR"/>
        <result column = "activity_location" property = "activityLocation" jdbcType = "VARCHAR"/>
        <result column = "activity_time" property = "activityTime" jdbcType = "TIMESTAMP"/>
        <result column = "activity_organizer" property = "activityOrganizer" jdbcType = "VARCHAR"/>
        <result column = "activity_assid" property = "activityAssid" jdbcType = "INTEGER"/>
    </resultMap>
    <sql id = "Base_Column_List">
        id, activity_name, activity_location, activity_time, activity_organizer, activity_assid
    </sql>
    <select id = "getAllActivity" resultMap = "BaseResultMap">
        select
        <include refid = "Base_Column_List"/>
        from t_activity
        where
        activity_time > NOW()
    </select>
    <select id = "getAllActivityByAssid" resultMap = "BaseResultMap" parameterType = "java.lang.Integer">
     SELECT
	*
    FROM
	t_activity
    WHERE
	t_activity.activity_assid =  #{assid,jdbcType=INTEGER}
	OR t_activity.activity_time > NOW( )

    </select>
    <select id = "selectByPrimaryKey" resultMap = "BaseResultMap" parameterType = "java.lang.Integer">
        select
        <include refid = "Base_Column_List"/>
        from t_activity
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id = "deleteByPrimaryKey" parameterType = "java.lang.Integer">
        delete from t_activity
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id = "insert" parameterType = "edu.smxy.associationmanagement.domain.Activity">
        insert into t_activity (id, activity_name, activity_location,
        activity_time, activity_organizer, activity_assid
        )
        values (#{id,jdbcType=INTEGER}, #{activityName,jdbcType=VARCHAR}, #{activityLocation,jdbcType=VARCHAR},
        #{activityTime,jdbcType=TIMESTAMP}, #{activityOrganizer,jdbcType=VARCHAR}, #{activityAssid,jdbcType=INTEGER}
        )
    </insert>
    <insert id = "insertSelective" parameterType = "edu.smxy.associationmanagement.domain.Activity">
        insert into t_activity
        <trim prefix = "(" suffix = ")" suffixOverrides = ",">
            <if test = "id != null">
                id,
            </if>
            <if test = "activityName != null">
                activity_name,
            </if>
            <if test = "activityLocation != null">
                activity_location,
            </if>
            <if test = "activityTime != null">
                activity_time,
            </if>
            <if test = "activityOrganizer != null">
                activity_organizer,
            </if>
            <if test = "activityAssid != null">
                activity_assid,
            </if>
        </trim>
        <trim prefix = "values (" suffix = ")" suffixOverrides = ",">
            <if test = "id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test = "activityName != null">
                #{activityName,jdbcType=VARCHAR},
            </if>
            <if test = "activityLocation != null">
                #{activityLocation,jdbcType=VARCHAR},
            </if>
            <if test = "activityTime != null">
                #{activityTime,jdbcType=TIMESTAMP},
            </if>
            <if test = "activityOrganizer != null">
                #{activityOrganizer,jdbcType=VARCHAR},
            </if>
            <if test = "activityAssid != null">
                #{activityAssid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id = "updateByPrimaryKeySelective" parameterType = "edu.smxy.associationmanagement.domain.Activity">
        update t_activity
        <set>
            <if test = "activityName != null">
                activity_name = #{activityName,jdbcType=VARCHAR},
            </if>
            <if test = "activityLocation != null">
                activity_location = #{activityLocation,jdbcType=VARCHAR},
            </if>
            <if test = "activityTime != null">
                activity_time = #{activityTime,jdbcType=TIMESTAMP},
            </if>
            <if test = "activityOrganizer != null">
                activity_organizer = #{activityOrganizer,jdbcType=VARCHAR},
            </if>
            <if test = "activityAssid != null">
                activity_assid = #{activityAssid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id = "updateByPrimaryKey" parameterType = "edu.smxy.associationmanagement.domain.Activity">
        update t_activity
        set activity_name = #{activityName,jdbcType=VARCHAR},
        activity_location = #{activityLocation,jdbcType=VARCHAR},
        activity_time = #{activityTime,jdbcType=TIMESTAMP},
        activity_organizer = #{activityOrganizer,jdbcType=VARCHAR},
        activity_assid = #{activityAssid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>