<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.smxy.associationmanagement.mapper.AssociationMapper">
    <resultMap id="BaseResultMap" type="edu.smxy.associationmanagement.domain.Association">
        <id column="associationid" property="associationid" jdbcType="INTEGER"/>
        <result column="association_name" property="associationName" jdbcType="VARCHAR"/>
        <result column="presidentid" property="presidentid" jdbcType="INTEGER"/>
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="is_registered" property="isRegistered" jdbcType="BIT"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="teacher" property="teacher" jdbcType="INTEGER"/>
        <result column="registration_file" property="registrationFile" jdbcType="INTEGER"/>
        <result column="temp_file" property="tempFile" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="delete_file" property="deleteFile" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        associationid, association_name, presidentid, creation_time, is_registered,count ,teacher,registration_file,temp_file,is_deleted,delete_file
    </sql>
    <select id="query" resultMap="BaseResultMap"
            parameterType="edu.smxy.associationmanagement.domain.Association">
        select *
        from t_association
        WHERE association_name = #{associationName,jdbcType=VARCHAR}
        AND is_deleted = 0
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        select *
        from t_association where is_deleted = 0
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from t_association
        where associationid = #{associationid,jdbcType=INTEGER}
        AND is_deleted = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_association
        where associationid = #{associationid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="edu.smxy.associationmanagement.domain.Association">
        insert into t_association (associationid, association_name, presidentid,
        creation_time, is_registered, count,teacher,registration_file,temp_file,is_deleted,delete_file
        )
        values (#{associationid,jdbcType=INTEGER}, #{associationName,jdbcType=VARCHAR}, #{presidentid,jdbcType=INTEGER},
        #{creationTime,jdbcType=TIMESTAMP}, #{isRegistered,jdbcType=BIT}, #{count,jdbcType=INTEGER}, #{teacher,jdbcType=INTEGER},
        #{registrationFile,jdbcType=INTEGER},#{tempFile,jdbcType=INTEGER},#{isDeleted,jdbcType=INTEGER},#{deleteFile,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="edu.smxy.associationmanagement.domain.Association">
        insert into t_association
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="associationid != null">
                associationid,
            </if>
            <if test="associationName != null">
                association_name,
            </if>
            <if test="presidentid != null">
                presidentid,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="isRegistered != null">
                is_registered,
            </if>
            <if test="count != null">
                count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="associationid != null">
                #{associationid,jdbcType=INTEGER},
            </if>
            <if test="associationName != null">
                #{associationName,jdbcType=VARCHAR},
            </if>
            <if test="presidentid != null">
                #{presidentid,jdbcType=INTEGER},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isRegistered != null">
                #{isRegistered,jdbcType=BIT},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.smxy.associationmanagement.domain.Association">
        update t_association
        <set>
            <if test="associationName != null">
                association_name = #{associationName,jdbcType=VARCHAR},
            </if>
            <if test="presidentid != null">
                presidentid = #{presidentid,jdbcType=INTEGER},
            </if>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isRegistered != null">
                is_registered = #{isRegistered,jdbcType=BIT},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
        </set>
        where associationid = #{associationid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.smxy.associationmanagement.domain.Association">
        update t_association
        set association_name = #{associationName,jdbcType=VARCHAR},
        presidentid = #{presidentid,jdbcType=INTEGER},
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
        is_registered = #{isRegistered,jdbcType=BIT},
        count = #{count,jdbcType=INTEGER},
        teacher =#{teacher,jdbcType=INTEGER},
        registration_file = #{registrationFile,jdbcType=INTEGER},
        temp_file = #{tempFile,jdbcType=INTEGER},
        is_deleted = #{isDeleted,jdbcType=INTEGER},
        delete_file = #{deleteFile,jdbcType=INTEGER}
        where associationid = #{associationid,jdbcType=INTEGER}
    </update>
</mapper>